@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gloria+Hallelujah&display=swap');
/* "Audiowide",
 "Fira Sans",
 "Gloria Hallelujah" */

#main {
    overflow: hidden;
}

.topNav {
    display: flex;
    position: static;
    width: 100vw;
    height: 8vh;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    background-color: rgb(0, 10, 15);
}

.logoImage {
    height: 7vh;
    border-radius: 15px;
    transition: 200ms;
    opacity: 1;

}

.logoImage:hover {
    opacity: 0.7;
    transition: 200ms;
}

.searchContainer {
    width: 58vw;
    height: 4vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15x;
}

.searchBar {
    width: 90%;
    font-size: 1.1em;
    border-radius: 10px;
    padding-left: 0.5em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

.send {
    background-color: rgb(150, 190, 255);
    padding: 2px 7px;
    border-radius: 7px;
    font-family: "Audiowide", sans-serif;
    transition: 200ms;
}

.send:hover {
    transition: 200ms;
    background-color: rgb(173, 205, 255);
}

.send:active {
    background-color: rgb(110, 149, 211);
}

.createMovie {
    background-color: rgb(10, 98, 235);
    padding: 4px 7px;
    border-radius: 7px;
    font-family: "Audiowide", sans-serif;
    color: rgb(230, 240, 255);
}

.createMovie:hover {
    transition: 200ms;
    background-color: rgb(70, 80, 205);
}

.createMovie:active {
    transition: 200ms;
    background-color: rgb(50, 30, 195);
}

.logoutBtn {
    background-color: rgb(100, 0, 75);
    padding: 4px 7px;
    border-radius: 7px;
    font-family: "Audiowide", sans-serif;
    color: rgb(230, 240, 255);
}

.logoutBtn:hover {
    transition: 200ms;
    background-color: rgb(100, 60, 75);
}

.logoutBtn:active {
    transition: 200ms;
    background-color: rgb(170, 0, 30);
}

.mainContainer {
    min-width: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(10, 20, 40);
    display: flex;
    justify-content: center;
}

.cardsContainer {
    width: 100%;
    height: auto;
    background-color: rgb(0, 30, 50);
    border: 3px solid rgb(60, 60, 70);
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    margin: 5vh 1vw 3vh 1vw;
    border-radius: 15px;
    padding: 30px;
}

.card {
    font-family: "Fira Sans", sans-serif;
    width: 32vw;
    height: 45vh;
    text-align: center;
    background-color: rgb(10, 20, 0);
    padding: 15px;
    margin: 8px 3px 25px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 40% 60%;
    box-shadow: 0px 0px 15px 1px white;
    transition: 200ms;
    
    cursor: pointer;
}

.card img {
    margin: auto 0;
}

.card:hover {
    background-color: rgb(15, 28, 10);
    box-shadow: 0px 0px 18px 3px white;
    transition: 200ms;
}

.cardInfos {
    display: flex;
    justify-content: baseline;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;

    padding: 25px 5px 5px 20px;

    overflow-y: auto;
}

.cardInfos p {
    max-width: 14vw;
    text-wrap: pretty;

    margin-top: 15px;
    margin-bottom: 5px;

    color: rgb(230, 239, 255);

    border-bottom: 2px solid;

    padding-left: 0.1em;
    padding-right: 0.2em;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 9px;

}

.movieTitle {
    font-size: 1.6em;
    font-family: "Gloria Hallelujah";
    color: rgb(225, 238, 255);
    border-bottom: 2px double rgb(225, 238, 255);
    border-left: 1px double rgb(225, 238, 255);
    padding-left: 0.5em;
    padding-right: 0.6em;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 35px;
    transition: 200ms;
}

.movieTitle:hover {
    transition: 200ms;
    color: rgb(200, 200, 225);
}

.movieDataLink {
    word-break: break-all;
}